#ignore this file
.gitignore

#exclude emacs backup files
*~

#ignore html files
*.html

# ignore bibliography
/bibliography

# ignore todo files
reading.org
video.org
todo.org

# remove ipython files
*.ipynb